setuptools==69.5.1
tensorflow==2.16.1
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
pillow==10.3.0
deepface==0.0.91
tf_keras==2.16.0
#send whats up
#pywhatkit

Telethon==1.35.0 #telegram
environs==11.0.0

# motion tracking
filterpy==1.4.5
scipy==1.14.0


# database
influxdb3-python==0.7.0
pandas==2.2.2

# gui
dash==2.17.1
kaleido==0.2.1